/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Roboto+Mono:wght@500&display=swap');
}
h1{
   
    font-family: 'Roboto Mono', monospace;
}
body {
    padding-top: 56px;
  }
 
body, html{
    height: 100%;
}  

.foo ter{
    position: absolute;
    bottom: 10px;
    height: 60px;
}

.wrapper{
    position: relative;
    min-height: 100%;
}

.content{
    padding-bottom: 100px;
}